.container {
  @apply flex w-screen;
}

.right-container {
  @apply flex flex-col w-full border-l border-l-grey-light-1;
}

.left-container {
  width: 70px;
}

@media (min-width: 640px) and (max-width: 768px) {
  .left-container {
    min-width: 250px;
  }
}

@media (min-width: 768px) {
  .left-container {
    min-width: 280px;
  }
}
